body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}
.container {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.card-sedans {
  background-color: var(--bright-orange);
  padding: 50px;
}

.card-suvs {
  background-color: var(--dark-cyan);
  padding: 50px;
}

.card-luxury {
  background-color: var(--very-dark-cyan);
  padding: 50px;
}

img {
  padding-bottom: 30px;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
  color: var(--very-light-gray);
  display: block;
  padding-bottom: 20px;
}

.text {
  color: var(--transparent-white);
  line-height: 1.7em;
}

input {
  background-color: var(--very-light-gray);
  border: none;
  border-radius: 30px;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

input:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.btn-sedans {
  color: var(--bright-orange);
}

.btn-suvs {
  color: var(--dark-cyan);
}

.btn-luxury {
  color: var(--very-dark-cyan);
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
  }

  .text {
    padding-bottom: 100px;
  }
}
